

.reference-section > h2 {
    font-size: var(--text-xl);
    margin-bottom: var(--spacing-2);
}

.module-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-left: var(--spacing-4);
}

.module-section > dt,
.module-section > dd {
    padding: var(--spacing-2) 0;
}