.reference-item {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: subgrid;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    align-items: center;
    gap: 0.25rem;

    > div {
        display: flex;
        gap: 0.25rem;

        > a {
            margin-left: auto;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.theme-dark .reference-item {
    background-color: var(--color-neutral-900);
    border: 1px solid var(--color-neutral-800);

    &:hover {
        background-color: var(--color-neutral-800);
        border: 1px solid var(--color-neutral-700);
    }
}

.theme-light .reference-item {
    background-color: var(--color-neutral-100);
    border: 1px solid var(--color-neutral-300);

    &:hover {
        background-color: var(--color-neutral-200);
        border: 1px solid var(--color-neutral-400);
    }
}