.reference-section > h2 {
    width: 100%;
    font-size: var(--text-xl);
    margin-bottom: var(--spacing-2);
}

.reference-section > ul {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0.25rem;
}