input[type=search].reference-search {
    border-width: 1px;
    border-style: solid;
    border-radius: var(--radius-sm);
    width: 100%;
    font-size: var(--text-xs);
    padding-left: var(--spacing-2);
    padding-right: var(--spacing-3);
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing-2);
    color: inherit;
}

input[type=search].reference-search:focus-visible {
    outline-width: 2px;
    outline-offset: 2px;
    outline-style: solid;
}

.theme-dark {
    input[type=search].reference-search {
        background-color: var(--color-neutral-900);
        border-color: var(--color-neutral-700);
    }

    .reference-search:focus-visible {
        outline-color: white;
    }
}

.theme-light {
    input[type=search].reference-search {
        background-color: var(--color-neutral-100);
        border-color: var(--color-neutral-400);
    }

    .reference-search:focus-visible {
        outline-color: black;
    }
}