.page {
    display: grid;
    grid-template-columns: auto 1fr;
    overflow: hidden;
    position: absolute;
    inset: 0;
    max-height: 100%;
}

.theme-dark .page {
    background-color: var(--color-neutral-950);
    color: white;
}

.theme-light .page {
    background-color: white;
    color: black;
}
