.version-details {
    margin-bottom: 1rem;

    dl {
        padding: 0 1rem;
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 1rem;
        row-gap: 0.5rem;
        font-size: var(--text-sm);
    }
}

.theme-light .version-details > dl > dd {
    color: var(--color-neutral-400);
}

.theme-dark .version-details > dl > dd {
    color: var(--color-neutral-500);
}