.calculator-layout {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

.page.calculator .page-header .menu-button > svg {
    margin-left: var(--spacing-4);
}

.calculator-output-field {
    padding: var(--spacing-2);
    font-size: var(--text-xl);
    border-radius: var(--radius-sm);
    border-width: 1px;
    border-style: solid;
    white-space: pre-wrap;
}

.theme-dark .calculator-output-field {
    color: white;
    background-color: var(--color-neutral-900);
    border-color: var(--color-neutral-700);
}

.theme-light .calculator-output-field {
    color: black;
    background-color: var(--color-neutral-100);
    border-color: var(--color-neutral-300);
}