/* calculator header */
.calculator-toolbar {
    margin-left: auto;
    display: flex;
}

.calculator-toolbar > ul {
    display: flex;
    gap: var(--spacing-2);
}

.calculator-header-action-element {
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
    padding-top: var(--spacing-1);
    padding-bottom: var(--spacing-1);
    font-size: var(--text-xs);
    border-width: 1px;
    border-radius: var(--radius-sm);
    border-style: solid;
}

a.calculator-header-action-element {
    padding-left: var(--spacing-2);
    padding-right: var(--spacing-3);
}

button.calculator-header-action-element {
    padding-left: var(--spacing-3);
    padding-right: var(--spacing-2);
}

.theme-dark .calculator-header-action-element {
    color: var(--color-white-75);
    border-color: var(--color-neutral-700);
    background-color: var(--color-neutral-900);
}

.theme-dark .calculator-header-action-element:hover {
    color: var(--color-white);
    border-color: var(--color-neutral-500);
    background-color: var(--color-neutral-800);
}

.theme-light .calculator-header-action-element {
    color: var(--color-black-75);
    border-color: var(--color-neutral-400);
    background-color: var(--color-neutral-100);
}

.theme-light .calculator-header-action-element:hover {
    color: var(--color-black);
    border-color: var(--color-neutral-500);
    background-color: var(--color-neutral-300);
}

.calculator-header-action-element:hover {
    cursor: pointer;
}