/* calculator layout */
.calculator-layout {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

/* calculator input and output */
.calculator-input,
.calculator-output {
    padding: var(--spacing-2);
    font-size: var(--text-xl);
    border-radius: var(--radius-sm);
    border-width: 1px;
    border-style: solid;
    white-space: pre-wrap;
}

.theme-dark .calculator-input,
.theme-dark .calculator-output {
    color: white;
    background-color: var(--color-neutral-900);
    border-color: var(--color-neutral-700);
}

.theme-light .calculator-input,
.theme-light .calculator-output {
    color: black;
    background-color: var(--color-neutral-100);
    border-color: var(--color-neutral-300);
}

/* calculator output */
.calculator-output>h2 {
    margin-bottom: var(--spacing-6);
    font-size: var(--text-xl);
}

.calculator-output>dl {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0 var(--spacing-4);
    gap: var(--spacing-4);
    font-size: var(--text-base);
}

.calculator-output>dl>dt {
    font-weight: bolder;
}

/* calculator header */
.calculator-header {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
}

.calculator-header>.page-title {
    margin-right: auto;
}

.calculator-header>nav {
    display: flex;
}

.calculator-header>nav>ul {
    display: flex;
    gap: var(--spacing-2);
}

.calculator-header-action-element {
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
    padding-top: var(--spacing-1);
    padding-bottom: var(--spacing-1);
    font-size: var(--text-xs);
    border-width: 1px;
    border-radius: var(--radius-sm);
    border-style: solid;
}

a.calculator-header-action-element {
    padding-left: var(--spacing-2);
    padding-right: var(--spacing-3);
}

button.calculator-header-action-element {
    padding-left: var(--spacing-3);
    padding-right: var(--spacing-2);
}

.theme-dark .calculator-header-action-element {
    color: var(--color-white-75);
    border-color: var(--color-neutral-700);
    background-color: var(--color-neutral-900);
}

.theme-dark .calculator-header-action-element:hover {
    color: var(--color-white);
    border-color: var(--color-neutral-500);
    background-color: var(--color-neutral-800);
}

.theme-light .calculator-header-action-element {
    color: var(--color-black-75);
    border-color: var(--color-neutral-400);
    background-color: var(--color-neutral-100);
}

.theme-light .calculator-header-action-element:hover {
    color: var(--color-black);
    border-color: var(--color-neutral-500);
    background-color: var(--color-neutral-300);
}

.calculator-header-action-element:hover {
    cursor: pointer;
}