.menu {
    position: relative;
    display: flex;
    flex-direction: column;
}

.menu-items-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.menu-button {
    display: flex;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-radius: var(--radius-sm);
    color: inherit;
    padding: var(--spacing-1) var(--spacing-3);
    gap: var(--spacing-2);
    font-size: var(--text-xs);
    cursor: pointer;
}

.theme-dark .menu-button {
    background-color: var(--color-neutral-900);
    border-color: var(--color-neutral-600);
}

.theme-light .menu-button {
    background-color: var(--color-neutral-100);
    border-color: var(--color-neutral-400);
}

.theme-dark .menu-button:hover {
    background-color: var(--color-neutral-800);
    border-color: var(--color-neutral-400);
}

.theme-light .menu-button:hover {
    background-color: var(--color-neutral-300);
    border-color: var(--color-neutral-500);
}

.menu-items {
    position: absolute;
    z-index: 10;
    margin-top: var(--spacing-1);
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: var(--radius-sm);
}

.theme-light .menu-items {
    background-color: var(--color-neutral-100);
    border-color: var(--color-neutral-400);
}

.theme-dark .menu-items {
    background-color: var(--color-neutral-900);
    border-color: var(--color-neutral-600);
}

.menu-item {
    font-size: var(--text-xs);
    padding: var(--spacing-2);
    cursor: pointer;
    border-radius: var(--radius-sm);
}

.theme-dark .menu-item:hover {
    background-color: var(--color-neutral-800);
}

.theme-light .menu-item:hover {
    background-color: var(--color-neutral-300);
}