.breadcrumbs {
    display: flex;
    padding: var(--spacing-4) var(--spacing-10) var(--spacing-4) 0;
}

.breadcrumbs > ol {
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
}

.theme-dark .breadcrumbs > ol > .icon {
    fill: var(--color-neutral-400);
}

.theme-light .breadcrumbs > ol > .icon {
    fill: var(--color-neutral-400);
}

.page-header .breadcrumbs-item {
    font-size: var(--text-3xl);
    font-weight: 300;
}

.page-header .breadcrumbs-item.current {
    font-weight: 500;
}