.navigation-item>a {
    display: flex;
    align-items: center;
    padding: var(--spacing-2) var(--spacing-4);
    color: inherit;
    font-size: var(--text-base);
}

.theme-light .navigation-item {
    color: var(--color-neutral-600)
}

.theme-dark .navigation-item>a:hover {
    background-color: var(--color-neutral-800);
}

.theme-light .navigation-item>a:hover {
    background-color: var(--color-neutral-100);
    color: black;
}