:root {
    font-size: 16pt;
    font-family: "Atkinson Hyperlegible Next", sans-serif;
}

/* Fix Safari issue related to <summary> / <details> arrow */
details > summary.list-none::-webkit-details-marker,
details > summary.list-none::marker {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
  padding: 0;
}

*:focus-visible {
  outline-width: 2px;
  outline-offset: 2px;
  outline-style: solid;
}

.theme-dark *:focus-visible {
  outline-color: white;
}


.theme-light *:focus-visible {
  outline-color: black;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}